sidebar.sidebar 新着記事
  .newPost__page__wrapper
    each contents in newPost__main_content
      .newPost__page__content
        .newPost__page__content__image 
          img(src=`${contents.img}`)
        .newPost__page__content__about
          .newPost__page__content__bar
            .newPost__content__bar__category.c-category-tag.c-sidebar-category-tag #{contents.category}
            .newPost__content__bar__new.c-new-mark #{contents.new}
            .newPost__content__bar__date.c-date-font #{contents.date}
          .newPost__page__content__title #{contents.title}
          
  .sidebar__category
    .sidebar__category__title カテゴリ
    
    .sidebar__category__box.sidebar__category__firstBox
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト

    .sidebar__category__box
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト

    .sidebar__category__box
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト

    .sidebar__category__box
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト

    .sidebar__category__box
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト

    .sidebar__category__box
      .sidebar__category__box__mark
        img(src="../assets/img/icon-chevron-right02.png")
      .sidebar__category__box__text テキストテキスト